* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.containeruno{
    height: 80px;
    background-color: rgb(31, 70, 245);
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around; 
}

.logo{
    height: 30px;
    align-self: center;
}

.link{
    align-self: center;
}

.accedi{
    align-self: center;
    width: 60px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 40%;
    font-size: 15px;
    padding: 8px;
}


.sfondouno{
    background-image: url(img/jumbo.png);
    height: 100%;
    width: 100%;
    display: inline-block;
}