* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.containeruno{
    height: 80px;
    background-color: rgb(16, 58, 210);
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around; 
}

.logo{
    height: 30px;
    align-self: center;
}

.link{
    align-self: center;
}

.link span{
    margin: 15px;
}

.accedi{
    align-self: center;
    width: 60px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 28px;
    font-size: 15px;
    padding: 8px;
}


.sfondouno{
    background-image: url(img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.perparlare{
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 180px;
}

.sottotitolo{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px; 
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
} 
    
.freccia{
    font-size: 20px;
}


.scarica{
    margin-top: 20px;
    color: black;
    height: 50px;
    width: 180px;
    background-color: white;
    border-radius: 28px;
    font-size: 20px;
    display: inline-block; 
    padding: 12px;
}

.aprids{
    padding: 12px;
    color: white;
    height: 50 px;
    width: 300px;
    background-color: black;
    border-radius: 28px;
    font-size: 20px;
    display: inline-block;
}

.container2{
    height: 1000px;
    background-color: white;
    margin-top: -95px;
    display: flex;
    justify-content: center;
}


.rana{
    height: 400px;
    margin-top: -100px;
    margin-left: 400px;
}

.accantorana{
    margin-top: -120px;
    margin-right: 500px;
    font-size: 20px;
}

.accantorana p{
    margin-right: -200px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container3{
    height: 500px;
    background-color: rgb(239, 236, 236);
    margin-top: -600px; 
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}


.mago{
    height: 400px;
    margin-top: 50px; 
    margin-right: 100px;
}

.accantomago{
    margin-top: 150px;
    font-size: 20px;
    margin-left: 300px;
}

.accantomago p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
